@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
    font-family: poppins;
}

body {
    background-image: url(../photo/VectorRedbg.png);
    width: 100%;
    background-size: cover;
}

.return {
    text-decoration: none;
    color: gray;
    margin-left: 100px;
}

.PhotoArrow {
    width: 30px;
    height: 30px;
    margin-top: 90px;
    margin-left: -110px;

}

h5 {
    font-family: arial;
    font-size: 20px;
    margin-left: 250px;
}

.ForgotPass {
    margin-left: 10px;
    font-stretch: expanded;
}


.glass-panel {
    width: 70%;
    height: 50%;
    background-color: rgba(253, 246, 246, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(219, 209, 209, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FP {
    width: 40%;
    height: auto;
    margin-left: 600px;
    margin-top: -150px;
}

.usep {
    max-width: 40%;
    height: auto;
}

.mb-3 a {
    text-decoration: none;
    font-size: small;
    color: black;
}

.mb-3 a:hover {
    color: darkred;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.btn {
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
}

.h3 {
    margin-top: -10px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px rgb(138, 134, 134);
}

#confirm {
    border-radius: 15px;
    color: white;
    background-color: #fda700;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    border-style: none;
    font-size: 15px;
}

#confirm:hover {
    opacity: 0.7;
}

#confirm2 {
    border-radius: 13px;
    color: white;
    background-color: #fda700;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    border-style: none;
    margin-left: 3px;
    font-size: 17px;
}

#confirm3 {
    border-radius: 13px;
    color: white;
    background-color: #fda700;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    border-style: none;
    margin-left: -50px;
    font-size: 17px;
}

@media (max-width: 576px) {
    .container-fluid {
        width: 100%;

    }

    .glass-panel {
        width: 80%;
        height: 40%;
        background-color: rgba(253, 246, 246, 0.8);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(219, 209, 209, 0.3);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .FP {
        width: 60%;
        height: auto;
        margin-left: -150px;
        margin-top: -400px;
        margin-bottom: 100px;
    }

    .ForgotPass {
        margin-left: 4px;
        font-size: 11px;
        padding: 5px;
    }

    .h3 {
        margin-top: -100px;
        font-weight: bold;
        color: black;
        font-size: 18PX;
        text-shadow: 1px 1px rgb(138, 134, 134);
        margin-bottom: 90PX;
    }

    #confirm {
        border-radius: 13px;
        color: white;
        background-color: #fda700;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 20px;
        border-style: none;
        margin-left: 40px;
        font-size: 13px;

    }

    #confirm3 {
        border-radius: 13px;
        color: white;
        background-color: #fda700;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 20px;
        border-style: none;
        margin-left: 40px;
        font-size: 13px;
    }

    #confirm2 {
        border-radius: 13px;
        color: white;
        background-color: #fda700;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 20px;
        border-style: none;
        margin-left: 40px;
        font-size: 13px;
    }

    .PhotoArrow {
        width: 30px;
        height: 30px;
        margin-top: -330px;
        margin-left: -110px;


    }

    #exampleInputPassword1 {
        width: 50%;
        margin-top: 15px;
        margin-left: 80px;
        font-size: 10px;
    }
}

.form-control {
    width: 35%;
    margin-top: 15px;
    margin-left: 250px;
}